<!DOCTYPE html>

<html lang="es">
    <head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Sitio Deportivo</title>
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="~/Content/Estilos.css">
        <link rel="stylesheet" href="~/Content/EstilosPanel/EstilosPanel.css">

        <link rel="stylesheet" href="~/Content/dataTables.jqueryui.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" />

<script src="~/Scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Scripts/dataTables.jqueryui.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
  
    </head>

    <body>

        <div id="contenedor">
            <section>
            <aside class="art2" id="Deportes">
    <div id="Menu">TABLAS</div>
<nav id="NavAside">
<ul>
    <li>
@Html.ActionLink("Usuarios","Usuarios","Usuarios")
</li>
    <li>
@Html.ActionLink("Ubicaciones","Ubicaciones","Ubicaciones")
</li>
    <li>
@Html.ActionLink("Articulos","Articulos","Articulos")
</li>
    <li>
@Html.ActionLink("Categorias","Categorias","Categorias")
</li>
   <li>
@Html.ActionLink("Noticias","Noticias","Noticias")
</li>
    <li>
@Html.ActionLink("Imagenes","Imagenes","Imagenes")
    </li>
    <li>
@Html.ActionLink("Salir","Reciente","Noticias")
    </li>
</ul>
</nav>
</aside>

            <article class="art2" id="Noticias">
            <div id="TituloReciente">PANEL DE ADMINISTRACION</div>

                @RenderBody()
            
            </article>
            
            <div style="clear: both" ></div>
            </section>
         </div>
    </body>
</html>